@page "/"

@attribute [Authorize]

@layout EmptyLayout

@inject DevelopmentPostService DevelopmentPostService

<PageTitle>Development Log</PageTitle>

<div class="container">
    <h1>Development Log</h1>
    <div>
    @foreach (var post in DevelopmentPostService.GetAll())
{
    <div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            <span class="fw-semibold">@post.Title</span>
                            <small class="text-muted" title="@post.Time">@post.Time.Humanize()</small>
                        </p>
                        <p class="card-text">@Markdown(post.Text)</p>
                    </div>
                    <div class="card-footer">
                        <a href="@post.Link" class="btn btn-primary">See the code</a>
                        <a href="#" class="badge">@post.Project</a>
                    </div>
                </div>
            </div>
}
    </div>
</div>

@code {

public MarkupString Markdown(string value)
{
    return new MarkupString(
        TrimParagraph(Markdig.Markdown.ToHtml(value)));
}

private static string TrimParagraph(string html)
{
    html = html.Trim();

    if (html.StartsWith("<p>"))
        html = html.Remove(0, 3);

    if (html.EndsWith("</p>"))
        html = html.Substring(0, html.LastIndexOf("</p>"));

    return html;
}

}